@charset "utf-8";
/* ===================
common(共通の設定として)
=================== */

html {
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans JP";
    font-style: normal;
    color: #444;
    background-color: #FFF;
    line-height: 1.0;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

/* ===================
header
=================== */

/* nav */

.nav {
    background-image: url("../images/background_sp.png");

    background-size: cover;
    width: 100%;
    padding: 24px 6.4% 64px;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav.active {
    transform: translateX(0);
}


.close__btn {
    margin-left: auto;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #FFF;
    padding: 48px 6.4%;
    border-radius: 45px;
}

.nav__item {
    color: #0B318F;
    font-family: "Yanone Kaffeesatz";
    font-size: 3.0rem;
    font-weight: 500;
    line-height: normal;
}


.nav__item img {
    width: 45px;
    height: 30px;
    margin-right: 24px;
}

/* pc設定 */
@media screen and (min-width: 769px) {
    .header {
        background-color: #F3F3C5;
        padding: 48px 22% 24px;
        display: flex;
        justify-content: center;
    }

    .nav {
        background-image: none;
        width: auto;
        padding: 0;
        position: static;
        transform: translate(0);
    }

    .nav__list {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 90px;
        padding: 0;
    }

    .nav__item {
        color: #444;
        font-family: "Noto Sans JP";
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
    }

    .nav__item img {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .close__btn {
        display: none;
    }
}

/* ===================
main
=================== */

.topImg__pc {
    display: none;
}

.topImg__sp {
    width: 100%;
}

.header__btn {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media screen and (min-width:769px) {
    .topImg__sp {
        display: none;
    }

    .topImg__pc {
        display: block;
        width: 100%;
    }
}

/* ===================
section
=================== */

/* Profile */

.section--profile {
    padding: 60px 6.4% 80px;
    background-color: #E94A56;
}

.section__profile {
    color: rgba(243, 243, 197, 0.70);
    font-family: "Yanone Kaffeesatz";
    font-size: 7.0rem;
    font-weight: 700;
    margin-bottom: -10px;
}

.yoshie__img {
    border-radius: 45px;
    aspect-ratio: 1;
    object-fit: cover;
}

.introduction {
    padding: 30px 12%;
    border-radius: 45px;
    background-color: #F3F3C5;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hayamaYoshie {
    font-family: "Bad Script";
    font-size: 3.2rem;
    line-height: 3;
    margin: auto;
}

.aboutDesign {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

}

.aboutDesign::after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
    margin-left: 2%;
}

.profile_txt {
    font-size: 1.4rem;
    line-height: 1.5;
}

@media screen and (min-width:769px) {
    .section--profile {
        padding: 70px 10% 140px;
    }

    .profile__content {
        display: flex;
        justify-content: center;
        gap: 6%;
    }

    .yoshie__img {
        width: 38%;
    }

    .introduction {
        margin: 0;
        gap: 24px;
    }

    .section__profile {
        font-size: 20rem;
        margin-bottom: -30px;
    }

    .hayamaYoshie {
        font-size: 6.0rem;
        line-height: 1.5;
    }

    .aboutDesign {
        font-size: 2.4rem;
        line-height: 1.5;
    }

    .profile_txt {
        font-size: 2.4rem;
        line-height: 1.5;
    }

}

/* mid1 */

.mid1Img__pc {
    display: none;
}

.mid1Img__sp {
    width: 100%;
}

@media screen and (min-width:769px) {
    .mid1Img__sp {
        display: none;
    }

    .mid1Img__pc {
        display: block;
        width: 100%;
    }
}

/* Photograph */

.section--photograph {
    padding: 80px 6.4% 0px;
    background-color: #F3F3C5;
}

.section__photograph {
    color: #4EAE64;
    text-align: right;
    font-family: "Yanone Kaffeesatz";
    font-size: 7.0rem;
    font-weight: 700;
    margin-bottom: -8px;
}

.photograph__content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.photos_img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.photos_content {
    padding: 10px 4.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.photos_plase {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.photos_txt {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width:769px) {
    .section--photograph {
        padding: 140px 10% 70px;
    }

    .section__photograph {
        font-size: 20rem;
        margin-bottom: -24px;
    }

    .photos_txt {
        font-size: 1.6rem;
    }

    .photograph__content {
        flex-direction: row;
        gap: 48px;
    }

    .photos_item {
        flex: 1;
    }

}

/* dive Spot */

.section--diveSpot {
    padding: 100px 6.4% 80px;
    background-color: #F3F3C5;
}

.section__diveSpot {
    color: #4EAE64;
    font-family: "Yanone Kaffeesatz";
    font-size: 7.0rem;
    font-weight: 700;
    margin-bottom: -8px;
}

.diveSpot__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFF;
    padding: 30px 8%;
    border-radius: 30px;
    border: 4px dashed;
    border-color: #A0D8E9;
    box-sizing: border-box;
}

.diveSpot_topic {
    display: flex;
    gap: 13px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    margin-top: 26px;
}

.diveSpot_topic:first-of-type {
    margin-top: 0;
}

.diveSpot_topic img {
    width: 45px;
    height: 29px;
    object-fit: contain;
}

.diveSpot_txt {
    font-size: 1.4rem;
    line-height: 1.5;
}


@media screen and (min-width:769px) {
    .section--diveSpot {
        padding: 70px 10% 140px;
    }

    .section__diveSpot {
        font-size: 20rem;
        margin-bottom: -24px;
    }

    .diveSpot__content {
        border-radius: 45px;
        padding: 45px 6%;
        border: 7px dashed;
        border-color: #A0D8E9;
    }

    .diveSpot_topic {
        gap: 16px;
        font-size: 2.4rem;
    }

    .diveSpot_txt {
        font-size: 1.6rem;
    }

}

/* mid2 */
.mid2Img__pc {
    display: none;
}

.mid2Img__sp {
    width: 100%;
}



@media screen and (min-width:769px) {
    .mid2Img__sp {
        display: none;
    }

    .mid2Img__pc {
        display: block;
        width: 100%;
    }
}

/* Access */
.section--access {
    padding: 80px 6.4% 100px;
    background-color: #E94A56;
}

.section__access {
    color: rgba(243, 243, 197, 0.70);
    text-align: right;
    font-family: "Yanone Kaffeesatz";
    font-size: 7.0rem;
    font-weight: 700;
    margin-bottom: -10px;
}

.access_content {
    display: flex;
    flex-direction: column;
    background-color: #F3F3C5;
    padding: 30px 8%;
    border-radius: 45px;
    border: 3px solid;
    border-color: #EC837C;
    gap: 24px;
}

.iriomote {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
}

.iriomote img {
    width: 100%;
}

.iriomote_way {
    display: flex;
}

.star {
    color: #EBDE49;
    font-size: 1.6rem;
    font-weight: 500;
}

.map_plase {
    color: #444;
    font-size: 1.6rem;
    font-weight: 500;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 100;
}

.google_map {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
}

.address {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    line-height: 2;
}

.address img {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 10px;
}

@media screen and (min-width:769px) {

    .section--access {
        padding: 140px 10%;
    }

    .section__access {
        font-size: 20rem;
        margin-bottom: -24px;
    }

    .star,
    .map_plase {
        font-size: 3.2rem;
    }

    .address {
        font-size: 1.6rem;
    }

    .access_content {
        flex-direction: row;
        padding: 90px 6%;
    }

    .iriomote {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
    }

    .map {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .address img {
        width: 24px;
        height: 24px;
    }

    .google_map {
        width: auto;
        height: 100%;
    }
}

/* end */
.endImg__pc {
    display: none;
}

.endImg__sp {
    width: 100%;
}

@media screen and (min-width:769px) {
    .endImg__sp {
        display: none;
    }

    .endImg__pc {
        display: block;
        width: 100%;
    }
}

.footer {
    background-color: #F3F3C5;
    padding: 16px 6.4% 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__topic {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.menu_list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu_item {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (min-width:769px) {
    .footer {
        background-color: #F3F3C5;
        padding: 40px 10% 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .footer__topic {
        font-size: 3.6rem;
    }

    .menu_list {
        flex-direction: row;
        gap: 36px;
    }

    .menu_item {
        font-size: 2.2rem;
    }

}