@charset "UTF-8";

/* ============================================ 
act
/* ============================================ */

body {
    background-color: var(--primary-light);
    background-image: none;
    color: var(--primary-dark);
}

.page__title::before {
    content: "公演情報";
}

.act__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 100px var(--contentPadding) 80px;
}

.act__item {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--primary-lightGray);
}

.act__title {
    text-align: center;
    font-family: "Zen Kaku Gothic Antique";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.8;
}

.act__txt {
    color: var(--primary-gray);
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.18rem;
}

.act__time {
    text-align: right;
    font-family: "Ysabeau Office";
    font-size: 1.5rem;
    font-weight: 600;
}