@charset "UTF-8";
/* ============================================ 
common
/* ============================================ */

:root {
  --primary-white: #FFFFFF;
  --primary-light: #E0E0E0;
  --primary-lightGray: #8B8B8B;
  --primary-gray: #535353;
  --primary-darkGray: #3D3D3D;
  --primary-dark: #222222;
  --primary-black: #111111;
  --contentWidth: 91.4%;
  --contentPadding: 6.4%;
  --contentPadding-pc: 3.5%;
}

html {
  font-size: 62.5%;
}

body {
  /* overflow: hidden; */
  font-family:
    'Noto Sans JP';
  font-style: normal;
  color: var(--primary-light);
  line-height: 1;

  /* 背景設定 */
  background-color: var(--primary-dark);
  background-image: url(../img/noise.svg);
  background-size: cover;
  background-blend-mode: overlay;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rightBlock {
  text-align: right;
}

.centerBlock {
  text-align: center;
}

/* ============================================ 
header
/* ============================================ */

.logo {
  width: 35px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--contentPadding);
  align-items: center;
  background-color: var(--primary-light);
  border-bottom: 1px solid #8B8B8B;
  z-index: 2;
}

@media screen and (min-width: 769px) {

  .logo {
    width: 100px;
  }

  .header {
    height: 80px;
    padding: 0 var(--contentPadding-pc);
  }

}


/* ============================================ 
nav
/* ============================================ */

.nav {
  background: #222222;
  background-image: url(../img/noise.svg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 100;
}

.nav__open {
  color: var(--primary-dark);
  font-family: "Protest Strike";
  font-size: 2.0rem;
}

.nav__close {
  color: #FFFFFF;
  font-family: "Protest Strike";
  font-size: 2.0rem;
}

.nav__header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--contentPadding);
  align-items: center;
  border-bottom: 0.5px solid var(--primary-lightGray);
}

.logo-nav {
  width: 97px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.nav__item {
  color: #E0E0E0;
  font-family: "Protest Strike";
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

.nav__footer {
  padding: var(--contentPadding);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #E0E0E0;
  position: fixed;
  bottom: 0;
}

.nav__sns {
  display: flex;
  width: 85px;
  justify-content: space-between;
}

.btn--nav {
  color: #E0E0E0;
  margin-right: -12px;
}

/* .nav.active表示 */
.nav.active {
  opacity: 1;
  /* フェードイン */
  pointer-events: auto;
  /* 表示されたときにクリックできるように */
}


@media screen and (min-width: 769px) {
  .nav {
    background: none;
    background-image: none;
    position: relative;
    opacity: 1;
    display: flex;
  }

  .nav__open {
    display: none;
  }

  .nav__header {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    position: absolute;
    right: 0;
    left: auto;
    transform: translateY(-50%);
  }

  .nav__item {
    color: var(--primary-dark);
    width: 95px;
    font-family: "Ysabeau Office";
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
  }

  .nav-about,
  .nav-goods,
  .nav-contact {
    letter-spacing: 0.18rem;
  }

  .nav-act {
    letter-spacing: 0.144rem;
  }

  .nav-member {
    letter-spacing: 0.3rem;
  }

  .nav-news {
    letter-spacing: 0.27rem;
  }

  .nav-note {
    letter-spacing: 0.126rem;
  }

  .nav__footer {
    display: none;
  }

}

/* ============================================ 
footer
/* ============================================ */

.footer {
  padding: 50px var(--contentPadding);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.footer--dark {
  background-color: var(--primary-dark);
  background-image: url(../img/noise.svg);
  color: var(--primary-light);
}

.footer--light {
  background-color: var(--primary-light);
  color: #222222;
}

.footer__under {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 223px;
  height: 30px;
}

.footer__sns img {
  width: 30px;
}

.footer__txt,
.copy {
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.terms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.privacy {
  border-left: 1px solid var(--primary-light);
  padding-left: 10px;
}

.copy {
  margin-top: 13px;
}

.footer__light {
  display: none;
}

@media screen and (min-width: 769px) {
  .footer {
    padding: 200px var(--contentPadding-pc) 50px;
    gap: 80px;
  }

  .footer__under {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .footer__sns {
    width: 185px;
    height: 35px;
  }

  .footer__sns img {
    width: 35px;
  }

  .footer__txt,
  .copy {
    /* text-align: center; */
    /* font-family: Ysabeau Office"; */
    font-size: 1.6rem;
    /* font-weight: 600; */
    letter-spacing: 0.16rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: end;
    letter-spacing: 0.16rem;
  }

  .terms {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .privacy {
    border-left: 1px solid var(--primary-light);
    padding-left: 10px;
  }

  .copy {
    margin-top: 0;
  }

  .footer__light {
    display: none;
  }
}



/* ============================================ 
btn
/* ============================================ */

.btn {
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 600;

  padding: 12px var(--contentPadding);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn--round {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-radius: 100px;
  width: fit-content;
}

.btn__arrow--round path {
  fill: var(--primary-dark);
  stroke: var(--primary-dark);
}

.btn__arrow {
  width: 18px;
  display: flex;
  align-items: center;
}

.page__title {
  margin-top: 146px;
  height: auto;
  color: var(--primary-dark);
  font-family: "Protest Strike";
  font-size: 7.0rem;
  position: relative;
  text-align: center;
}

.page__title::before {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-gray);
  font-family: "Zen Kaku Gothic Antique";
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .page__title {
    margin-top: 230px;
    font-size: 10.0rem;
  }

  .page__title::before {
    font-size: 2.0rem;
    top: -30px;
  }

  .btn {
    font-size: 2.0rem;
    padding: 18px 36px;
    gap: 12px;
  }

  .btn__arrow {
    width: 22px;
  }

}