@charset "UTF-8";

/* ============================================ 
contact
/* ============================================ */

body {
    background-color: var(--primary-light);
    background-image: none;
    color: var(--primary-gray);

}

.page__title::before {
    content: "お問い合わせ";
}

.contact__content {
    align-items: center;
    gap: 40px;
    margin: 100px var(--contentPadding) 80px;
}

.contact__txt {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.18rem;
}

.contact__form {
    background-color: red;
    max-width: 500px;
    height: 500px;
}

.line__title {
    margin-top: 24px;
    color: var(--primary-dark);
    font-family: "Protest Strike";
    font-size: 5.0rem;
    line-height: 1y;
}

.line__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.line__form img {
    width: 66%;
    text-align: center;
}