@charset "UTF-8";

/* ============================================ 
news
/* ============================================ */

.page__title--news {
  color: var(--primary-light);
}

.page__title::before {
  content: "お知らせ";
  color: var(--primary-lightGray);
}

.news__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto 80px;
  background-color: var(--primary-light);
}

.news__item {
  padding: 12px var(--contentPadding);
  color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-gray);
}

.news__date {
  color: var(--primary-lightGray);
  font-family: "Protest Strike";
  font-size: 1.3rem;
}

.news__title {
  margin: 4px 0 0 10px;
  color: var(--primary-dark);
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.18rem;
}

.news__open {
  height: 14px;
  position: relative;
}

.news__open::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-gray);
  width: 12px;
  height: 2px;
  border-radius: 2px;
}

.news__txt {

  padding-left: 10px;
  color: var(--primary-gray);
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.16rem;
}




/* ============================================ 
news__footer
/* ============================================ */

.footer__dark {
  display: none;
}

.footer__light {
  display: flex;
}

.footer {
  background-color: var(--primary-light);
}

.footer__txt {
  color: var(--primary-dark);
}

.privacy {
  border-left: 1.5px solid var(--primary-gray);
}