@charset "UTF-8";

/* ============================================ 
act
/* ============================================ */

body {
    background-color: var(--primary-light);
    background-image: none;
    color: var(--primary-dark);
}


.stage__flyer {
    padding: 75px var(--contentPadding) 0;
}

.stage__content {
    padding: 30px var(--contentPadding) 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.stage__name {
    font-family: "Zen Kaku Gothic Antique";
    font-size: 2.2rem;
    font-weight: 700;
}

.stage__title {
    font-family: "Zen Kaku Gothic Antique";
    font-size: 4.0rem;
    font-weight: 700;
}

.stage__date {
    color: var(--primary-gray);
    font-family: "Ysabeau Office";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 180%;
    position: relative;
}

.line {
    background-color: var(--primary-lightGray);
    width: 100%;
    height: 1px;
}

.section--story {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 50px var(--contentPadding);
    background-color: var(--primary-dark);
    color: var(--primary-light);
    position: relative;
}

.story__title {
    position: absolute;
    top: -70px;
    left: -17px;
    transform: rotate(90deg);
    transform-origin: bottom left;
    color: var(--primary-darkGray);
    font-family: "Protest Strike";
    font-size: 12.0rem;
}

.story__summary {
    font-family: "Zen Kaku Gothic Antique";
    font-size: 2.4rem;
    font-weight: 700;
    z-index: 1;
}

.story__synopsis {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.19rem;
    z-index: 1;
}

.info {
    padding: 30px var(--contentPadding);
}

.info__title {
    font-family: "Protest Strike";
    font-size: 7.0rem;
    text-align: left;
}

.info__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.info__content__title {
    font-family: "Ysabeau Office";
    font-size: 3.6rem;
    font-weight: 600;
}

.info__content__txt {
    margin-top: 8px;
    color: var(--primary-gray);
    font-family: "Ysabeau Office";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.16rem;
}

.btn__zone {
    padding: 0 var(--contentPadding) 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn--back svg {
    transform: rotate(180deg);
}

.btn--back path {
    fill: var(--primary-dark);
    stroke: var(--primary-dark);
}

.btn--stage {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.btn--stage path {
    fill: var(--primary-light);
    stroke: var(--primary-light);
}