@charset "UTF-8";
/* CSS Document */

/* ============================================ 
	common
/* ============================================ */

.light-theme {
  background: #fff;
  color: #333;
}
.dark-theme {
  background: #000;
  color: #ddd
}

img {
  width: 100%;
  height: 100%;
  color: #000;
}

/* ============================================ 
header
/* ============================================ */

.header {
  position: fixed;
  background-color: red;
  mix-blend-mode: multiply;
}


.banner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
  background-color: #000;
}

.banner.hide {
  transform: translateY(-100%);
}

.cont {
  color: #fff;
}
