@charset "UTF-8";
/* CSS Document 

/* ============================================ 
	common
  /* ============================================ */

:root {
  --primary-white: #FFFFFF;
  --primary-light: #E0E0E0;
  --primary-lightGray: #8B8B8B;
  --primary-gray: #535353;
  --primary-darkGray: #3D3D3D;
  --primary-dark: #222222;
  --primary-noiseDark: ;
  --primary-black: #111111;
  --contentWidth: 91.4%;
  --contentPadding: 6.4%;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    'Noto Sans JP';
  font-style: normal;
  color: var(--primary-light);
  line-height: 1;

  /* 背景設定 */
  background-color: var(--primary-dark);
  background-image: url(../img/noise.svg);
  background-size: cover;
  background-blend-mode: overlay;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: saturate(0);
}

.logo {
  width: 35px;
}

.section__title {
  font-family: "Zen Kaku Gothic Antique";
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: 0.18rem;
  position: relative;
}

.section__title::after {
  /* content: "ACT"; */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-gray, #3D3D3D);
  font-family: "Protest Strike";
  font-size: 12.0rem;
  font-weight: 400;
  z-index: -1;
}

.section {
  padding: 50px var(--contentPadding);
}

.section__txt {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.19rem;
  margin-top: 46px;
  position: relative;
}

.section__txt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-gray);
  top: -16px;
}

.rightBlock {
  text-align: right;
}

.centerBlock {
  text-align: center;
}

.btn {
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 600;

  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn--round {
  color: var(--primary-dark);
  background-color: var(--primary-light);

  border-radius: 32px;
  border: 0.5px solid var(--primary-light);
}

.btn__arrow--round path {
  fill: var(--primary-dark);
  /* fill色を指定 */
  stroke: var(--primary-dark);
  /* stroke色を指定 */
}

.btn__arrow {
  width: 18px;
  display: flex;
  align-items: center;
}


/* .light-theme {
  background: #fff;
  color: #333;
}

.dark-theme {
  background: #000;
  color: #ddd
} */


/* ============================================ 
header
/* ============================================ */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--contentPadding);
  align-items: center;
  mix-blend-mode: difference;
  z-index: 1;
}

.header.active {
  mix-blend-mode: normal;
}

/* dark-light */
.dark-light {
  position: fixed;
  left: calc(-75px + var(--contentPadding));
  bottom: 7.5px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  transform: rotate(0deg);
  transition: transform 2s ease;
}

.dark-light.switch {
  transform: rotate(180deg); /* 回転角度 */
}

.dark-light img {
  width: 25px;
  height: 25px;
}


/* ============================================ 
nav
/* ============================================ */

.nav {
  /* mix-blend-mode: normal !important; */
  background: var(--primary-dark);
  background-image: url(../img/noise.svg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  /* transform: translateX(-100%); */
  opacity: 0;
  pointer-events: none; /* 非表示のときはクリックできないように */
  transition: opacity 0.5s ease; /* opacityとmix-blend-modeのアニメーション */
  /* transition: transform 0.4s; */
}

.nav__open,
.nav__close {
  font-family: "Protest Strike";
  font-size: 2.0rem;
}

.nav__header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--contentPadding);
  align-items: center;
  border-bottom: 0.5px solid var(--primary-light);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.nav__item {
  font-family: "Protest Strike";
  font-size: 4.5rem;
  font-weight: 400;
}

.nav__footer {
  padding: var(--contentPadding);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid var(--primary-light);
  position: fixed;
  bottom: 0;
}

.nav__sns {
  display: flex;
  width: 85px;
  justify-content: space-between;
}

.btn--nav {
  
}

/* .nav.active表示 */
.nav.active {
  opacity: 1; /* フェードイン */
  pointer-events: auto; /* 表示されたときにクリックできるように */
}

/* ============================================ 
banner
/* ============================================ */

.banner {
  background-color: var(--primary-dark);
  background-image: url(../img/noise.svg);
  padding: 45px var(--contentPadding);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
  z-index: 200;
  /* transform: translateY(-100%); */
}

.banner__backGround {
  background-image: url(../img/damarunaboke.jpg);
  height: calc(100vh - 96px);
  filter: grayscale(100%) brightness(30%);
  position: relative;
}

.banner__content {
  position: fixed;
  width: 100%;
  padding: 90px 12.8%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner__content img {
  filter: saturate(1);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  max-width: px;
}

.newStage {
  font-family: "Protest Strike";
  font-size: 5.5rem;
  text-align: center;
}

.newStage__btn {
  text-align: right;
  position: relative;
}

.newStage__btn::before {
  content: '';
  position: absolute;
  background-color: var(--primary-light);
  width: 70%;
  height: 60%;
  bottom: 0;
  right: -24px;
  z-index: -1;
}

.btn--banner {
  color: var(--primary-dark);
  text-align: right;
}

.btn__arrow--banner path {
  fill: var(--primary-dark);
  stroke: var(--primary-dark);
}

.btn__banner {
  width: 18px;
  display: flex;
  align-items: center;
}

.banner__date {
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.banner__scroll {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 600;
}

.banner.hide {
  transform: translateY(-100%);
}

/* ============================================ 
main
/* ============================================ */

/* main */
.mainImg {
  margin-top: 45px;
  padding: 0 var(--contentPadding);
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
}

.mainLogo {
  position: absolute;
  width: 66%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.7;
}

.scrollDown {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 1.2rem;
  font-weight: 600;
}


/* about */

.mainCaption {
  margin: 285px var(--contentPadding) auto;
  text-align: center;
}

.mainCaption__title {
  font-family: "Zen Kaku Gothic Antique";
  display: inline-block;
  width: 280px;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}

.quote_left {
  position: absolute;
  left: -15px;
  top: -8px;
}

.quote_right {
  position: absolute;
  right: 33px;
  top: -8px;
}

.mainCaption__title__sub {
  font-size: 2.0rem;
  letter-spacing: 0.06rem;
  margin-left: 10px;
  font-feature-settings: "palt";
}

.mainCaption__txt {
  font-feature-settings: "palt";
  display: inline-block;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4rem;
  max-width: 375px;
  position: relative;
  margin-top: 34px;
}

.mainCaption__txt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-gray);
  top: -16px;
}

/* act */

.section__title--act::after {
  content: "ACT";
}

.stage__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 70px;
  position: relative;
}

.stage__content::before {
  content: "";
  background-color: var(--primary-black);
  height: calc(100% - 50px);
  width: 66%;
  position: absolute;
  top: 75px;
  right: -7%;
  z-index: -1;
}

.stage {
  color: var(--primary-gray);
  text-align: center;
  font-family: "Protest Strike";
  font-size: 3.0rem;

  background-color: var(--primary-light);
  width: 174px;
  padding: 2px;
  margin-top: 100px;
}

.stage__title {
  color: var(--primary-light);
  text-align: center;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 2.2rem;
  font-weight: 700;
}

/* news */
.section--news {
  margin-bottom: 109px;
}

.section__title--news::after {
  content: "NEWS";
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 50px 0 30px;
}

.news__content {
  background-color: var(--primary-gray);
  padding: 16px 24px;
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 900;
}

.news__txt {
  font-family: "Noto Sans JP";
  font-size: 1.8rem;
  font-weight: 350;
  line-height: 1.8;
  letter-spacing: 0.18rem;
  margin-top: 8px;
}

.btn--news {
  margin-top: 50px;
}

/* note */
.section--note {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  position: relative;
}

.note__img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 var(--contentPadding);
  max-width: 400px;
}

.section__title--note {
  margin-top: 109px;
}

.note__btn {
  background-color: var(--primary-dark);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  border-radius: 50px;
  margin-top: 30px;
}

.note__btn img {
  width: 90px;
}

/* ============================================ 
footer
/* ============================================ */

.footer {
  padding: 80px var(--contentPadding) 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.footer__sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 223px;
  height: 30px;
}

.footer__sns img {
  width: 30px;
}

.footer__txt {
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.copy {
  margin-top: 13px;
}