@charset "UTF-8";
/* CSS Document 

/* ============================================ 
Top_header, nav
/* ============================================ */

.header {
  mix-blend-mode: difference;
  background-color: transparent;
  border-bottom: transparent;
}

.header.active {
  mix-blend-mode: normal;
}

.header.active {
  mix-blend-mode: normal;
}

.nav__open {
  color: #FFFFFF;
}


@media screen and (min-width: 769px) {
  .nav__item {
    color: #FFFFFF;
    mix-blend-mode: difference;
  }
}


/* ============================================ 
banner
/* ============================================ */

.banner {
  background-color: #222222;
  background-image: url(../img/noise.svg);
  padding: 45px var(--contentPadding);
  width: 100%;
  height: 100svh;
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
  z-index: 200;
}

/* ×の場合 */
.banner::after, .banner::before {
  content: '';
  position: absolute;
  right: calc(var(--contentPadding) + 8px);
  top: 25px;
  width: 2px;
  height: 20px;
  background-color: #E0E0E0;
}

.banner::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.banner::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.banner__backGround {
  height: calc(100svh - 90px);
  filter: saturate(0) grayscale(100%) brightness(30%) !important;
  position: relative;

}

.banner__content {
  position: fixed;
  width: 80.8%;
  max-width: 400px;
  padding: 45px var(--contentPadding);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner__content img {
  width: 80.8%;
  filter: saturate(1) !important;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  max-width: 300px;
}

.newStage {
  color: #E0E0E0;
  font-family: "Protest Strike";
  font-size: 4.5rem;
  text-align: center;
}

.banner__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.banner__name,
.banner__title {
  display: none;
}

.newStage__btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newStage__btn::before {
  content: '';
  position: absolute;
  background-color: #E0E0E0;
  width: 70%;
  height: 60%;
  bottom: -10px;
  right: 0;
  z-index: -1;
}

.btn--banner {
  width: 100%;
  color: #222222;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.btn__arrow--banner path {
  fill: #222222;
  stroke: #222222;
}

.banner__date {
  color: #E0E0E0;
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.btn--round--banner {
  color: #222222;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.banner.hide {
  transform: translateY(-100%);
}

@media screen and (min-width: 769px) {
  .banner {
    padding: 50px var(--contentPadding-pc);
  }

  .banner::after, .banner::before {
    right: calc(var(--contentPadding-pc) + 8px);
  }

  .banner__backGround {
    height: calc(100svh - 100px);
  }

  .banner__content {
    max-width: 1440px;
    max-height: fit-content;
    padding: 50px var(--contentPadding-pc);
    display: flex;
    flex-direction: row-reverse;
    gap: 5.2%;
    justify-content: space-between;
    align-items: center;
  }

  .banner__content img {
    width: 75%;
    filter: saturate(1) !important;
    box-shadow: 0px 2px 16px 0px rgba(112, 111, 111, 0.25);
    max-width: 500px;
  }

  .newStage {
    display: none;
  }

  .banner__txt {
    align-items: flex-start;
    justify-content: center;
    padding: 130px 0;
    width: 50%;
  }

  .banner__name {
    display: block;
    color: var(--light, #E0E0E0);
    font-family: "Zen Kaku Gothic Antique";
    font-size: 2.5rem;
    font-weight: 700;
  }

  .banner__title {
    display: block;
    color: var(--light, #E0E0E0);
    font-family: "Zen Kaku Gothic Antique";
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 1.5;
  }

  .line {
    background-color: #E0E0E0;
    width: 100%;
    height: 1.5px;
  }

  .newStage__btn {
    text-align: center;
    position: relative;
    width: 50%;
  }

  .newStage__btn::before {
    width: 70%;
    height: 80%;
    bottom: -15px;
    right: 0;
    z-index: -1;
  }

  .banner__date {
    text-align: left;
    font-size: 2.5rem;
    margin-top: 30px;
  }

  .btn--round--banner {
    margin-top: 30px;
  }
}


/* ============================================ 
section
/* ============================================ */

img {
  filter: saturate(0);
}

.section__title {
  color: var(--primary-light);
  font-family: "Zen Kaku Gothic Antique";
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: 0.18rem;
  position: relative;
}


.section__title::after {
  /* content: "ACT"; */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-darkGray);
  font-family: "Protest Strike";
  font-size: 12.0rem;
  font-weight: 400;
  z-index: -1;
}

.section {
  padding: 50px var(--contentPadding);
}

.section__txt {
  color: var(--primary-light);
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.19rem;
  margin-top: 46px;
  position: relative;
}

.section__txt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-darkGray);
  top: -19px;
  left: 1px;
}

.section__txt--act::before {
  top: -20px;
  left: 1px;
}

.section__txt--news::before {
  top: -20px;
  left: 5px;
}

@media screen and (min-width: 769px) {

  .section__title {
    font-size: 4.0rem;
  }


  .section__title::after {
    font-size: 16.0rem;
  }

  .section {
    padding: 0px 10.4%;
  }

  .section__txt {
    font-size: 3.0rem;
    letter-spacing: 0.3rem;
  }
}


/* ============================================ 
main
 ============================================ */

/* main */
.mainImg-sp {
  margin-top: 45px;
  padding: 0 var(--contentPadding);
  width: 100%;
  height: calc(100svh - 90px);
  position: relative;
  filter: saturate(0) brightness(0.7);
}

.mainImg-pc {
  margin-top: 80px;
  padding: 0 var(--contentPadding-pc);
  width: 100%;
  height: calc(100svh - 130px);
  position: relative;
  filter: saturate(0) brightness(0.7);
  display: none;
}

.mainLogo {
  position: absolute;
  width: 66%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.8;
  fill: #FFF;
}

.mainLogo_light {
  display: none;
}

.scrollDown {
  color: #FFFFFF;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Ysabeau Office";
  font-size: 1.2rem;
  font-weight: 600;
}

.scrollBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

.scrollBar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 75px;
  background: #fff;
  mix-blend-mode: difference;
  animation: liner 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes liner {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  30% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  70% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}


@media screen and (min-width: 1023px) {
  .mainImg-pc {
    display: block;
  }

  .mainImg-sp {
    display: none;
  }

  .mainLogo {
    width: 33%;
  }

  .scrollDown {
    display: inline-block;
    bottom: 200px;
    right: 50px;
    left: auto;
    transform: rotate(90deg);
    font-size: 2.0rem;
  }

  .scrollBar {
    position: absolute;
    right: 105px;
    left: auto;
    bottom: -30px;
  }

  .scrollBar::after {
    height: 150px;
  }
}

/* about */

.mainCaption {
  margin: 250px 0 150px;
  text-align: center;
  position: relative;
}

.mainCaption__title {
  font-family: "Zen Kaku Gothic Antique";
  display: inline-block;
  width: 300px;
  font-size: 3.2rem;
  font-weight: 700;
}

.quote_left {
  position: absolute;
  left: -15px;
  top: -8px;
}

.quote_right {
  position: absolute;
  right: 33px;
  top: -8px;
}

.mainCaption__subTitle {
  font-size: 2.0rem;
  letter-spacing: 0.06rem;
  margin-left: 10px;
  font-feature-settings: "palt";
}

.mainCaption__txt {
  font-feature-settings: "palt";
  display: inline-block;
  font-family: "Noto Sans JP";
  text-align: left;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.24rem;
  max-width: 375px;
  position: relative;
  margin-top: 34px;
}

.mainCaption__txt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-gray);
  top: -16px;
}

@media screen and (min-width: 769px) {
  .mainCaption {
    margin: 500px var(--contentPadding-pc);
  }

  .mainCaption__title {
    min-width: 750px;
    max-width: 800px;
    font-size: 8.0rem;
  }

  .quote_left {
    width: 40px;
    height: 30px;
    left: 0px;
  }

  .quote_right {
    width: 40px;
    height: 30px;
    right: 100px;
    top: -8px;
  }

  .mainCaption__subTitle {
    font-size: 4.0rem;
    letter-spacing: 0.12rem;
    margin-left: 20px;
  }

  .mainCaption__txt {
    font-feature-settings: "palt";
    font-size: 4.2rem;
    font-weight: 500;
    letter-spacing: 0.42rem;
    max-width: 800px;
    margin-top: 34px;
  }

  .mainCaption__txt::before {
    height: 0;
  }
}

/* scroll img */
.mainCaption img {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}

.a {
  width: 70px;
  height: 80px;
  left: 24px;
  top: -150px;
}

.b {
  width: 180px;
  height: 150px;
  right: -10px;
  top: -80px;
}

.c {
  width: 120px;
  height: 150px;
  left: 0px;
  top: 60px;
}

.d {
  width: 213px;
  height: 150px;
  left: -24px;
  bottom: -60px;
}

.e {
  width: 90px;
  height: 60px;
  right: -10px;
  bottom: 60px;
}

.f {
  width: 120px;
  height: 100px;
  right: -10px;
  bottom: -100px;
}

@media screen and (min-width: 769px) {

  .a {
    width: 100px;
    height: 120px;
    left: 24px;
    top: -150px;
  }
  
  .b {
    width: 300px;
    height: 200px;
    right: -10px;
    top: -80px;
  }
  
  .c {
    width: 150px;
    height: 180px;
    left: 0px;
    top: 60px;
  }
  
  .d {
    width: 400px;
    height: 300px;
    left: -24px;
    bottom: -60px;
  }
  
  .e {
    width: 120px;
    height: 90px;
    right: -10px;
    bottom: 60px;
  }
  
  .f {
    width: 150px;
    height: 120px;
    right: -10px;
    bottom: -100px;
  }

}



/* act */
.section__title--act::after {
  content: "ACT";
}

.stage__detail-sp {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.stage__detail-pc {
  display: none;
}

.stage__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 70px;
  position: relative;
}

.stage__content::before {
  content: "";
  background-color: var(--primary-black);
  height: calc(100% - 50px);
  width: 66%;
  position: absolute;
  top: 75px;
  right: -7%;
  z-index: -1;
}

.stage__tag {
  color: var(--primary-gray);
  text-align: center;
  font-family: "Protest Strike";
  font-size: 3.0rem;

  background-color: var(--primary-light);
  width: 174px;
  padding: 2px;
  margin-top: 100px;
}

.stage__title {
  color: var(--primary-light);
  text-align: center;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 2.2rem;
  font-weight: 700;
}

/* slideImg */
.splide__slide img {
  height: auto;
  width: 60%;
}

@media screen and (min-width: 769px) {
  .stage__detail-sp {
    display: none;
  }

  .stage__detail-pc {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .act__block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10.4%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .section--act {
    position: relative;
  }

  .section--act::before {
    content: "";
    position: absolute;
    background-color: var(--primary-black);
    height: 1000px;
    width: 100%;
    top: 33%;
    left: 0;
    z-index: -1;
  }

  .act__rightBlock {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 350px;
    max-width: 500px;
  }

  .stage__content {
    max-width: 500px;
    margin-bottom: 80px;
    position: relative;
  }

  .stage__content::before {
    background-color: transparent;
  }

  .stage__title {
    text-align: start;
    font-size: 3.0rem;
  }

  .stage__summary {
    font-family: "Noto Sans JP";
    font-size: 2.0rem;
    line-height: 1.5;
  }

  .slideImg {
    padding: 150px 0;
    display: flex;
    max-height: 700px;
    width: 100%;
  }
}


/* news */
.section--news {
  margin-bottom: 109px;
}

.section__title--news::after {
  content: "NEWS";
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 80px 0 50px;
}

.news__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--primary-gray);
  /* padding: 16px 24px; */
  font-family: "Ysabeau Office";
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  color: var(--primary-light); /* 初期の文字色を設定 */
}

.news__link {
  display: block;
  width: 100%;
  padding: 16px 24px;
  z-index: 1;
}

.news__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* 初期位置は右側 */
  width: 100%;
  height: 100%;
  background-color: var(--primary-light); /* ホバー時の背景色 */
  transform-origin: right top; /* 右上を基準に変形 */
  transition: transform 0.5s, left 0.5s; /* スムーズな動き */
  z-index: 0;
}

.news__content:hover {
  color: var(--primary-gray);
}

.news__content:hover::before {
  left: 0; /* ホバー時に背景が右から左に移動 */
  transform: scale(1); /* 元のサイズに戻る */
}

.news__txt {
  font-family: "Noto Sans JP";
  font-size: 1.8rem;
  font-weight: 350;
  line-height: 1.8;
  letter-spacing: 0.18rem;
  position: relative;
}

.news__time {
  position: relative;
}

.btn--news {
  margin-top: 50px;
}

@media screen and (min-width: 769px) {
  .section--news {
    margin-bottom: 150px;
  }

  .news__list {
    gap: 30px;
    margin: 120px 0 50px;
  }

  .news__content {
    /* padding: 40px 50px; */
    font-size: 2.2rem;
    font-weight: 700;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }

  .news__link {
    padding: 40px 50px;
  }

  .news__txt {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.25rem;
  }
}

/* note */
.section--note {
  background-color: var(--primary-light);
  position: relative;
}

.note__img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 var(--contentPadding);
  max-width: 400px;
}

.section__title--note {
  color: var(--primary-dark);
  margin-top: 109px;
}

.section__txt--note {
  color: var(--primary-dark);
}

.note__btn {
  background-color: var(--primary-dark);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  border-radius: 50px;
  margin-top: 30px;
}

.note__btn:hover .btn__arrow {
  transform: translateX(30%);
  transition: 0.3s;
}

.note__btn img {
  width: 90px;
}

/* 
.note__btn img:hover {
  margin-right: 20px;
  transition: 0.2s;
} */

.note__logo__light {
  display: none;
}

@media screen and (min-width: 769px) {
  .section--note {
    background-color: var(--primary-light);
    position: relative;
    display: flex;
    padding: 0;
  }

  .note__content {
    margin: 80px 10.4%;
  }

  .note__img {
    position: static;
    padding: 0;
    width: 50%;
    max-width: 700px;
    transform: translateX(0);
  }

  .section__title--note {
    margin-top: 0px;
  }

  .section__txt--note {
    color: var(--primary-dark);
  }

  .note__btn {
    padding: 24px;
  }

  .note__btn img {
    width: 150px;
    height: 25px;
  }

  .note__logo__light {
    display: none;
  }
}

/* ============================================ 
footer
/* ============================================ */

.footer--light {
  display: none;
}


/* ===============================
ダーク・ライト切り替え
==================================*/
/* モード切り替えボタン */
input[type="checkbox"] {
  display: block;
}

.switch {
  position: fixed;
}

.switch-mode {
  position: fixed;
  left: calc(-80px + var(--contentPadding));
  bottom: -65px;
  display: block;
  width: 100px;
  height: 100px;
  transform: rotate(0);
  transition: transform 1s;
}

.switch-mode::before {
  content: url("../img/switch.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.switch-mode::after {
  content: url("../img/switch.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 769px) {

  .switch-mode {
    left: calc(-80px + var(--contentPadding-pc));
  }

  .switch-mode::before {
    width: 20px;
    height: 20px;
  }

  .switch-mode::after {
    width: 20px;
    height: 20px;
  }

}



/* ======================
アニメーション
=========================*/

/* hover */
.stageImg:hover {
  filter: saturate(1);
  transition: 0.4s;
}

/* light mode */

.js-mode-light {
  --primary-white: #111111;
  --primary-light: #222222;
  --primary-gray: #FFFFFF;
  --primary-darkGray: #FFFFFF;
  --primary-dark: #E0E0E0;
  --primary-black: #FFFFFF;
  background-color: #E0E0E0;
  background-image: none;
}

.js-mode-light img {
  filter: saturate(0.1);
}

.js-mode-light .mainLogo {
  display: none;
  /* fill: #000;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8)); 
  opacity: 1; */
}

 .js-mode-light .mainImg {
  filter: saturate(0.2) brightness(0.7); 
}


.js-mode-light .quote path {
  fill: #FFFFFF;
}

.js-mode-light .section--note {
  background-color: #535353;
}

.js-mode-light .btn__arrow--normal path {
  fill: #222222;
  stroke: #222222;
}

.js-mode-light .note__logo__dark {
  display: none;
}

.js-mode-light .note__logo__light {
  display: block;
}

.js-mode-light .footer__logo {
  fill: #000;
}

.js-mode-light .mainCaption__txt::before {
  background-color: var(--primary-lightGray);
}

.js-mode-light .stage__tag {
  background-color: var(--primary-lightGray);
}

.js-mode-light .section__txt--note::before {
  background-color: #E0E0E0;
}

.js-mode-light .news__content::before {
  background-color: #535353;
}
