@charset "utf-8";
/*==========================
common
==========================*/
:root {
    --primary-white: #FDFDFD;
    --primary-whiteLow: #ECF5F5;
    --primary-black: #333A3A;
    --primary-green: #4FB9B9;
    --primary-greenR: 79, 185, 185;
    --primary-darkGreen: #076363;
    --primary-pink: #F77;
    --primary-lightGray: #C8D1D1;
    --contentWidth: 91.4%;
    --contentPadding: 4.2%;
}

html {
    font-size: 62.5%;
}

body {
    font-family:
        'Noto Sans JP',
        Arial,
        sans-serif;
    font-style: normal;
    color: var(--primary-black, #333A3A);
    background-color: var(--primary-white, #FDFDFD);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.topic {
    color: var(--primary-darkGreen, #076363);
    text-align: center;
    font-family: Arial;
    font-size: 2.8rem;
    line-height: 1;
    margin: 0 auto;
}

.topic::after {
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background-color: var(--primary-green, #4FB9B9);
    margin: 24px auto 0;
}

.btn {
    display: block;
    color: var(--primary-white);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 4px;
    background: var(--primary-darkGreen, #076363);
    padding: 16px 32px 18px;
    position: relative;
    transition: 0.4s;
}

.btn::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/icon-arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.btn:hover {
    opacity: 0.5;
}

/* common pc */
@media screen and (min-width:769px) {
    .topic {
        font-size: 3.2rem;
        line-height: 1;
    }

    .topic::after {
        margin: 32px auto 0;
    }

    .btn {
        width: 343px;
        height: 56px;
        font-size: 2.2rem;
    }

}/* pc 769px */

/*==========================
header
==========================*/
.header {
    padding: 0 0 0 4.2%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__topic,
.nav__topic {
    font-size: 2rem;
    font-family: Noto Sans JP;
    line-height: 1.3;
}

.header__topic a,
.nav__topic a {
    display: flex;
    align-items: center;
}

.header__topic span,
.nav__topic span {
    font-size: 0.8rem;
    letter-spacing: 1.6px;
    margin: 0 17px 0 18px;
}

/* .nav初期表示 */
.nav {
    background: rgba(var(--primary-greenR), 0.97);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav__header {
    padding-left: 4.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__topic {
    color: var(--primary-whiteLow);
}

.nav__list {
    margin-top: 67px;
}

.nav__item {
    color: var(--primary-white);
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.nav__item::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 2px;
    background-color: var(--primary-white);
    margin-right: 16px;
}

.nav__btnEntry {
    color: var(--primary-white);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    background-color: var(--primary-green);
    padding: 12px 0 12px 16px;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.nav__btnEntry::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/icon-arrow.svg);
    background-size: contain;
    background-position: center;
    margin: 0 8px;
}

.nav__btnEntry:hover {
    opacity: 0.5;
}

.nav__item:last-of-type {
    display: none;
}

/* .nav.active表示 */
.nav.active {
    transform: translateX(0);
}

.header__btn {
    display: block;
    width: 64px;
    height: 64px;
}

/* .header pc */
@media screen and (min-width:769px) {
    .header {
        max-width: 1280px;
        height: 80px;
        margin: 0 auto;
        padding: 20px 60px;
    }

    .header__topic {
        font-size: 3rem;
    }

    .header__topic span {
        font-size: 1.2rem;
        line-height: 1.3;
        letter-spacing: 0.2em;
        margin: 0 0 0 28px;
    }

    .nav__header {
        display: none;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        padding: 0;
        position: static;
        transform: translate(0);
    }

    .nav__list {
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin: 0 0 0 32px;
        color: var(--primary-green);
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .nav__item::before {
        display: none;
    }

    .nav__item:nth-last-of-type(2) {
        display: none;
    }

    .nav__item:last-of-type {
        display: block;
    }

    .header__btn {
        display: none;
    }

}/* pc 769px */

/*==========================
Article footer
==========================*/
.article__footer {
    padding: 41px 9.6% 48px;
}

.footerTitle {
    color: var(--primary-black);
    text-align: center;
    font-size: 3rem;
    line-height: 1.3;
}

.footerTitle span {
    display: block;
    color: var(--primary-black);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.2em;
    margin-top: 5px;
}

.footerNav {
    margin-top: 32px;
}

.footerNav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
}

.footerNav__item {
    width: 47.85%;
}

.footerNav__item a {
    display: block;
    color: var(--primary-darkGreen);
    font-size: 1.6rem;
    line-height: 2.6;
}

/* .article__footer pc */
@media screen and (min-width:769px) {
    .article__footer {
        padding: 64px 8.3%;
    }

    .footerNav {
        margin-top: 16px;
    }

    .footerNav__list {
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0 32px;
    }

    .footerNav__item {
        width: auto;
    }

    .footerNav__item a {
        line-height: 1.3;
        margin-top: 0;
    }
}/* pc 769px */

/*==========================
footer
==========================*/
.footer {
    background-color: var(--primary-whiteLow);
    padding-top: 48px;
}

.contact,
.recruit {
    width: var(--contentWidth);
    margin: 0 auto;
}

.contact__topic,
.recruit__topic {
    color: var(--primary-darkGreen);
    font-size: 1.8rem;
    font-weight: 700;
    /* ref by figma text's height */
    /* line-height: 1; */
    height: 25px;
}

.contact__address,
.recruit__txt {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 16px;
}

.contact__address a {
    color: var(--primary-darkGreen);
    text-decoration: underline;
}

.recruit {
    margin-top: 36px;
}

.btn--recruit {
    margin-top: 16px;
    color: var(--primary-darkGreen);
    font-size: 1.6rem;
    background-color: var(--primary-white);
    border: solid 1px var(--primary-darkGreen);
    height: 50px;
}

.btn--recruit::after {
    background-image: url(../images/icon-arrow--grn.svg);
}

.copy {
    text-align: center;
    background-color: var(--primary-green);
    padding: 8px 0;
    margin-top: 48px;
}

.copy small {
    color: var(--primary-white);
    font-size: 1.2rem;
    line-height: 1.5;
}

/* .footer pc */
@media screen and (min-width:769px) {
    .footer {
        padding-top: 64px;
    }

    .footer__group {
        display: flex;
        gap: 0 16px;
        max-width: 702px;
        margin: 0 auto;
    }

    .contact,
    .recruit {
        width: 343px;
    }

    .recruit {
        margin-top: 0;
    }

    .copy {
        padding: 30px 0;
        margin-top: 64px;
    }

}/* pc 769px */